/*Common CSS start*/
* {
    padding: 0;
    margin: 0;
    outline: 0;
}

ul,
ol {
    list-style: none;
}

img {
    vertical-align: middle;
}

a {
    display: inline-block;
    text-decoration: none;
    color: #353535;
}

.clr {
    clear: both;
}

.full_wrapper {
    width: 100%;
}

.container {
    width: 1170px;
    margin: 0 auto;
}

/*Common CSS end*/
/*menu Sec Start*/
.menu {
    position: absolute;
    content: '';
    top: 34px;
    left: 0;
    height: 100px;
    z-index: 9999;
}

.fixedmenu {
    position: fixed;
    height: 70px;
    background: rgba(0, 0, 0, 1);
    top: 0;
}

.fixedmenu .con_menu .logo a img {
    margin-top: 8px;
    padding-left: 1px;
    width: 167px;
}

.fixedmenu .con_menu .menu_bar ul a {
    padding-top: 27px;
}

.fixedmenu .con_menu .free_trial a {
    margin-top: 21px;
}

.con_menu {
    height: 100px;
    display: flex;
}

.logo {
    width: 539px;
    height: 100%;
}

.logo a img {
    margin-top: 15px;
    padding-left: 1px;
    width: 227px;
    transition: all linear 0.4s;
    -webkit-transition: all linear 0.4s;
    -moz-transition: all linear 0.4s;
    -o-transition: all linear 0.4s;
    -ms-transition: all linear 0.4s;
}

.menu_bar {
    width: 497px;
    height: 100%;
}

.menu_bar ul a {
    float: left;
    margin-right: 41px;
    padding-top: 47px;
    padding-bottom: 15px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #fdfdfe;
    transition: all linear 0.4s;
    -webkit-transition: all linear 0.4s;
    -moz-transition: all linear 0.4s;
    -o-transition: all linear 0.4s;
    -ms-transition: all linear 0.4s;
}

.menu_bar ul a:hover {
    color: #744fa0;
}

.a1 {
    position: relative;
}

.a1:after {
    position: absolute;
    content: '';
    height: 1px;
    width: 15px;
    background: #744fa0;
    margin-top: 25px;
    margin-left: -38px;
    opacity: 0;
}

.menu_bar ul a:hover .a1:after {
    opacity: 1;
    transition: all linear 0.4s;
    -webkit-transition: all linear 0.4s;
    -moz-transition: all linear 0.4s;
    -o-transition: all linear 0.4s;
    -ms-transition: all linear 0.4s;
}

.a2 {
    position: relative;
}

.a2:after {
    position: absolute;
    content: '';
    height: 1px;
    width: 15px;
    background: #744fa0;
    margin-top: 25px;
    margin-left: -52px;
    opacity: 0;
}

.menu_bar ul a:hover .a2:after {
    opacity: 1;
    transition: all linear 0.4s;
    -webkit-transition: all linear 0.4s;
    -moz-transition: all linear 0.4s;
    -o-transition: all linear 0.4s;
    -ms-transition: all linear 0.4s;
}

.a3 {
    position: relative;
}

.a3:after {
    position: absolute;
    content: '';
    height: 1px;
    width: 15px;
    background: #744fa0;
    margin-top: 25px;
    margin-left: -76px;
    opacity: 0;
}

.menu_bar ul a:hover .a3:after {
    opacity: 1;
    transition: all linear 0.4s;
    -webkit-transition: all linear 0.4s;
    -moz-transition: all linear 0.4s;
    -o-transition: all linear 0.4s;
    -ms-transition: all linear 0.4s;
}

.a4 {
    position: relative;
}

.a4:after {
    position: absolute;
    content: '';
    height: 1px;
    width: 15px;
    background: #744fa0;
    margin-top: 25px;
    margin-left: -31px;
    opacity: 0;
}

.menu_bar ul a:hover .a4:after {
    opacity: 1;
    transition: all linear 0.4s;
    -webkit-transition: all linear 0.4s;
    -moz-transition: all linear 0.4s;
    -o-transition: all linear 0.4s;
    -ms-transition: all linear 0.4s;
}

.a5 {
    position: relative;
}

.a5:after {
    position: absolute;
    content: '';
    height: 1px;
    width: 15px;
    background: #744fa0;
    margin-top: 25px;
    margin-left: -47px;
    opacity: 0;
}

.menu_bar ul a:hover .a5:after {
    opacity: 1;
    transition: all linear 0.4s;
    -webkit-transition: all linear 0.4s;
    -moz-transition: all linear 0.4s;
    -o-transition: all linear 0.4s;
    -ms-transition: all linear 0.4s;
}

.free_trial {
    width: 110px;
    height: 100%;
}

.free_trial a {
    margin-top: 37px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: #fdfdfe;
    width: 110px;
    height: 31px;
    background: #744fa0;
    text-align: center;
    line-height: 31px;
    border-radius: 5px;
    transition: all linear 0.4s;
    -webkit-transition: all linear 0.4s;
    -moz-transition: all linear 0.4s;
    -o-transition: all linear 0.4s;
    -ms-transition: all linear 0.4s;
}

.free_trial a:hover {
    background: #ffffff;
    color: #353535;
}

/*menu Sec end*/
/*cover Sec start*/

.banner {
    width: 100%;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center;
    text-align: right;
    display: flex;
    position: relative;
}

.overlay_mm {
    background: rgba(0, 0, 0, 0.7);
    padding-top: 211px;
    padding-bottom: 100px;
    display: flex;
}

.con_cover h1 {
    font-family: 'Railway', sans-serif;
    font-size: 56px;
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 8px;
}

.con_cover h1 span {
    color: #744fa0;
}

.con_cover h2 {
    font-family: 'Railway', sans-serif;
    font-size: 32px;
    font-weight: 300;
    color: #ffffff;
    margin-bottom: 50px;
    position: relative;
}

.con_cover h2:after {
    position: absolute;
    content: '';
    height: 1px;
    width: 200px;
    background: #f1f1f1;
    margin-left: -203px;
    margin-top: 60px;
}

.con_cover p {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #f1f1f1;
    margin-bottom: 60px;
}

.aa {
    display: inline-block;
    margin-right: 5px;
}

.aa a {
    height: 59px;
    width: 189px;
    background: #744fa0;
    border-radius: 5px;
    transition: all linear 0.4s;
    -webkit-transition: all linear 0.4s;
    -moz-transition: all linear 0.4s;
    -o-transition: all linear 0.4s;
    -ms-transition: all linear 0.4s;
}

.aa a:hover {
    background: #ffffff;
}

.aa a:hover .aa1 i {
    color: #353535;
}

.aa a:hover .aa2 {
    color: #353535;
}

.aa a:hover .aa2 span {
    color: #353535;
}

.aa1 {
    width: 56px;
    float: left;
    text-align: center;
}

.aa1 i {
    font-size: 33px;
    color: #ffffff;
    line-height: 59px;
    transition: all linear 0.4s;
    -webkit-transition: all linear 0.4s;
    -moz-transition: all linear 0.4s;
    -o-transition: all linear 0.4s;
    -ms-transition: all linear 0.4s;
}

.aa2 {
    padding-top: 8px;
    width: 133px;
    float: left;
    text-align: left;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #ffffff;
    transition: all linear 0.4s;
    -webkit-transition: all linear 0.4s;
    -moz-transition: all linear 0.4s;
    -o-transition: all linear 0.4s;
    -ms-transition: all linear 0.4s;
}

.aa2 span {
    padding-top: 4px;
    font-family: 'Railway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #ffffff;
    transition: all linear 0.4s;
    -webkit-transition: all linear 0.4s;
    -moz-transition: all linear 0.4s;
    -o-transition: all linear 0.4s;
    -ms-transition: all linear 0.4s;
}

.ab {
    display: inline-block;
}

.ab a {
    height: 59px;
    width: 189px;
    background: #744fa0;
    border-radius: 5px;
    transition: all linear 0.4s;
    -webkit-transition: all linear 0.4s;
    -moz-transition: all linear 0.4s;
    -o-transition: all linear 0.4s;
    -ms-transition: all linear 0.4s;
}

.ab a:hover {
    background: #ffffff;
}

.ab a:hover .ab1 i {
    color: #353535;
}

.ab a:hover .ab2 {
    color: #353535;
}

.ab a:hover .ab2 span {
    color: #353535;
}

.ab1 {
    width: 56px;
    float: left;
    text-align: center;
}

.ab1 i {
    font-size: 33px;
    color: #ffffff;
    line-height: 59px;
    transition: all linear 0.4s;
    -webkit-transition: all linear 0.4s;
    -moz-transition: all linear 0.4s;
    -o-transition: all linear 0.4s;
    -ms-transition: all linear 0.4s;
}

.ab2 {
    padding-top: 8px;
    width: 133px;
    float: left;
    text-align: left;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #ffffff;
    transition: all linear 0.4s;
    -webkit-transition: all linear 0.4s;
    -moz-transition: all linear 0.4s;
    -o-transition: all linear 0.4s;
    -ms-transition: all linear 0.4s;
}

.ab2 span {
    padding-top: 4px;
    font-family: 'Railway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #ffffff;
    transition: all linear 0.4s;
    -webkit-transition: all linear 0.4s;
    -moz-transition: all linear 0.4s;
    -o-transition: all linear 0.4s;
    -ms-transition: all linear 0.4s;
}

.cover {
    position: relative;
}

.cover ul.slick-dots {
    position: absolute;
    right: 1%;
    bottom: 200px;
}

.cover ul.slick-dots li button {
    font-size: 0;
    width: 7px;
    height: 7px;
    border: none;
    border-radius: 50%;
    background: transparent;
    margin: 10px;
    cursor: pointer;
    position: relative;
}

.cover ul.slick-dots li button:after {
    position: absolute;
    content: '';
    width: 14px;
    height: 14px;
    border-radius: 50%;
    left: -5px;
    top: -5px;
    border: 2px solid #ffffff;
}

.cover ul.slick-dots li.slick-active button {
    background: #744fa0;
}

.cover ul.slick-dots li.slick-active button:after {
    border: 2px solid #744fa0;
}

.c {
    position: relative;
}

.home {
    position: absolute;
    content: '';
    z-index: 1;
    top: 48.4%;
    right: 1.3%;
    transform: translateX(1.3%);
}

.home a i {
    color: #ffffff;
    font-size: 18px;
}

.home a i:hover {
    color: #744fa0;
    transition: all linear 0.4s;
    -webkit-transition: all linear 0.4s;
    -moz-transition: all linear 0.4s;
    -o-transition: all linear 0.4s;
    -ms-transition: all linear 0.4s;
}

/*cover Sec end*/
/*About Sec start*/
.bto {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: #744fa0;
    text-align: center;
    cursor: pointer;
    line-height: 45px;
    position: fixed;
    right: 30px;
    bottom: 30px;
    display: none;
    transition: 0.4s all linear;
}

.bto:after {
    position: absolute;
    content: '';
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 3px solid #744fa0;
    top: -3px;
    left: -3px;
}

.bto i {
    font-size: 20px;
    color: white;
    transition: 0.4s all linear;
}

.bto:hover {
    background: white;
}

.bto:hover i {
    color: #744fa0;
}

.about {
    padding-top: 100px;
    padding-bottom: 58px;
}

.aboutl {
    width: 800px;
    padding-top: 52px;
    float: left;
    text-align: center;
}

.aboutl i {
    margin-right: 28px;
    margin-top: 13px;
    font-size: 18px;
    transform: rotate(315deg);
}

.aboutl h2 {
    font-family: 'Railway', sans-serif;
    font-size: 24px;
    font-weight: 700;
    color: #353535;
    padding-left: 113px;
    padding-right: 144px;
    position: relative;
}

.about h2:after {
    position: absolute;
    content: '';
    height: 1px;
    width: 44px;
    background: #353535;
    left: 397px;
    top: 46px;
}

.about h2:before {
    position: absolute;
    content: '';
    height: 1px;
    width: 44px;
    background: #353535;
    left: 327px;
    top: 46px;
}

.p1 {
    font-family: 'Railway', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #555555;
    padding-left: 113px;
    padding-top: 20px;
    padding-right: 144px;
    position: relative;
}

.p1:after {
    position: absolute;
    content: '';
    height: 1px;
    width: 49px;
    background: #353535;
    left: 397px;
    top: -9px;
}

.p1:before {
    position: absolute;
    content: '';
    height: 1px;
    width: 49px;
    background: #353535;
    left: 322px;
    top: -9px;
}

.p2 {
    font-family: 'Railway', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #555555;
    padding-left: 113px;
    padding-top: 26px;
    padding-right: 144px;
}

.aboutr {
    width: 370px;
    padding-top: 0px;
    float: left;
}

.aboutr img {
    height: 379px;
    width: 366px;
}

/*About Sec end*/
/*Features Sec start*/
.faa {
    margin-top: 10px;
    text-align: center;
}

.faa i {
    margin-top: 18px;
    font-size: 18px;
    transform: rotate(315deg);
}

.faa h2 {
    font-family: 'Railway', sans-serif;
    font-size: 23px;
    font-weight: 700;
    color: #353535;
    position: relative;
}

.faa h2:after {
    position: absolute;
    content: '';
    height: 1px;
    width: 44px;
    background: #353535;
    left: 51.5%;
    top: 47px;
}

.faa h2:before {
    position: absolute;
    content: '';
    height: 1px;
    width: 44px;
    background: #353535;
    left: 44.4%;
    top: 47px;
}

.faa p {
    position: relative;
}

.faa p:after {
    position: absolute;
    content: '';
    height: 1px;
    width: 49px;
    background: #353535;
    left: 51.5%;
    top: -10px;
}

.faa p:before {
    position: absolute;
    content: '';
    height: 1px;
    width: 49px;
    background: #353535;
    left: 44%;
    top: -10px;
}

.features {
    padding-top: 60px;
    padding-bottom: 50px;
    background: #f1f1f1;
}

.features1 {
    width: 430px;
    float: left;
}

.features2 {
    width: 310px;
    float: left;
}

.features3 {
    width: 430px;
    float: left;
}

.features2 .fmm img {
    width: 263px !important;
    height: 464px;
    padding-left: 22px;
    padding-top: 27px;
}

.features3 .fnn h2 {
    padding-top: 155px;
    padding-left: 85px;
    text-align: right;
    padding-bottom: 30px;
    font-family: 'Railway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #353535;
}

.features3 .fnn p {
    padding-left: 45px;
    text-align: right;
    padding-bottom: 26px;
    font-family: 'Railway', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #555555;
}


.f {
    width: 320px !important;
    height: 103px;
    border-bottom: 1px solid #353535;
}

.f21 {
    width: 57px;
    height: 103px;
    float: left;
}

.f21 i {
    font-size: 42px;
    color: #353535;
    padding-top: 35px;
    transition: all linear 0.4s;
    -webkit-transition: all linear 0.4s;
    -moz-transition: all linear 0.4s;
    -o-transition: all linear 0.4s;
    -ms-transition: all linear 0.4s;
}

.f22 {
    width: 213px;
    height: 103px;
    float: left;
}

.f22 h3 {
    padding-top: 30px;
    transition: all linear 0.4s;
    -webkit-transition: all linear 0.4s;
    -moz-transition: all linear 0.4s;
    -o-transition: all linear 0.4s;
    -ms-transition: all linear 0.4s;
}

.f22 p {
    padding-top: 12px;
    transition: all linear 0.4s;
    -webkit-transition: all linear 0.4s;
    -moz-transition: all linear 0.4s;
    -o-transition: all linear 0.4s;
    -ms-transition: all linear 0.4s;
}

.f:hover {
    border-bottom-color: #744fa0;
}

.f:hover .f21 i {
    color: #744fa0;
}

.f:hover .f22 h3 {
    color: #744fa0;
}

.f:hover .f22 p {
    color: #744fa0;
}

/*Features Sec end*/
/*SS Sec start*/
.ss {
    padding-top: 70px;
    padding-bottom: 80px;
    background-color: #ffffff;
    text-align: center;

}

.con_ss i {
    margin-top: 8px;
    font-size: 18px;
    transform: rotate(315deg);
}

.con_ss h2 {
    font-family: 'Railway', sans-serif;
    font-size: 23px;
    font-weight: 700;
    color: #353535;
    position: relative;
}

.con_ss h2:after {
    position: absolute;
    content: '';
    height: 1px;
    width: 44px;
    background: #353535;
    left: 601px;
    top: 40px;
}

.con_ss h2:before {
    position: absolute;
    content: '';
    height: 1px;
    width: 44px;
    background: #353535;
    left: 518px;
    top: 40px;
}

.con_ss p {
    position: relative;
}

.con_ss p:after {
    position: absolute;
    content: '';
    height: 1px;
    width: 49px;
    background: #353535;
    left: 601px;
    top: -8px;
}

.con_ss p:before {
    position: absolute;
    content: '';
    height: 1px;
    width: 49px;
    background: #353535;
    left: 513px;
    top: -8px;
}

.all_ss img {
    width: 210px !important;
    margin-right: 20px;
    margin-left: 12px;
    margin-top: 40px;
}

.all_ss ul.slick-dots {
    position: absolute;
    left: 43%;
    bottom: -56px;
}

.all_ss ul.slick-dots li {
    float: left;
}

.all_ss ul.slick-dots li button {
    font-size: 0;
    width: 7px;
    height: 7px;
    border: none;
    border-radius: 50%;
    background: transparent;
    margin: 10px;
    cursor: pointer;
    position: relative;
    float: left;
}

.all_ss ul.slick-dots li button:after {
    position: absolute;
    content: '';
    width: 14px;
    height: 14px;
    border-radius: 50%;
    left: -5px;
    top: -5px;
    border: 2px solid #535353;
}

.all_ss ul.slick-dots li.slick-active button {
    background: #744fa0;
}

.all_ss ul.slick-dots li.slick-active button:after {
    border: 2px solid #744fa0;
}

/*SS Sec end*/
/*video Sec start*/
.video{
    margin-top: 50px;
}
.con_video {
    text-align: center;
}

.con_video i {
    margin-top: 8px;
    font-size: 18px;
    transform: rotate(315deg);
}

.con_video h2 {
    font-family: 'Railway', sans-serif;
    font-size: 23px;
    font-weight: 700;
    color: #353535;
    position: relative;
}

.con_video h2:after {
    position: absolute;
    content: '';
    height: 1px;
    width: 44px;
    background: #353535;
    left: 601px;
    top: 40px;
}

.con_video h2:before {
    position: absolute;
    content: '';
    height: 1px;
    width: 44px;
    background: #353535;
    left: 518px;
    top: 40px;
}

.con_video p {
    position: relative;
}

.con_video p:after {
    position: absolute;
    content: '';
    height: 1px;
    width: 49px;
    background: #353535;
    left: 601px;
    top: -8px;
}

.con_video p:before {
    position: absolute;
    content: '';
    height: 1px;
    width: 49px;
    background: #353535;
    left: 513px;
    top: -8px;
}

.video2 {
    background-image: url(../images/video.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 50px;
    text-align: center;
    line-height: 500px;
    height: 500px;
    background-attachment: fixed;
}

.con_video2 a i {
    font-size: 80px;
    color: #feffff;
    transition: all linear 0.4s;
    -webkit-transition: all linear 0.4s;
    -moz-transition: all linear 0.4s;
    -o-transition: all linear 0.4s;
    -ms-transition: all linear 0.4s;
}

.con_video2 a i:hover {
    color: #744fa0;
}

/*video Sec end*/
/*Price Sec start*/
.price {
    padding: 80px 0;
}

.con_price {
    text-align: center;
}

.con_price i {
    margin-top: 8px;
    font-size: 18px;
    transform: rotate(315deg);
}

.con_price h2 {
    font-family: 'Railway', sans-serif;
    font-size: 23px;
    font-weight: 700;
    color: #353535;
    position: relative;
}

.con_price h2:after {
    position: absolute;
    content: '';
    height: 1px;
    width: 44px;
    background: #353535;
    left: 601px;
    top: 40px;
}

.con_price h2:before {
    position: absolute;
    content: '';
    height: 1px;
    width: 44px;
    background: #353535;
    left: 518px;
    top: 40px;
}

.con_price p {
    position: relative;
}

.con_price p:after {
    position: absolute;
    content: '';
    height: 1px;
    width: 49px;
    background: #353535;
    left: 601px;
    top: -8px;
}

.con_price p:before {
    position: absolute;
    content: '';
    height: 1px;
    width: 49px;
    background: #353535;
    left: 513px;
    top: -8px;
}

.plan {
    padding-top: 50px;
}

.plans:last-child {
    margin-right: 0px;
}

.plans {
    margin-right: 30px;
    float: left;
    height: 407px;
    width: 270px;
    border: 1px solid #f1f1f1;
    border-radius: 25px;
    background: #f1f1f1;
    box-sizing: border-box;
}

.plan1 {
    height: 60px;
    width: 100%;
    line-height: 60px;
    transition: all linear 0.4s;
    -webkit-transition: all linear 0.4s;
    -moz-transition: all linear 0.4s;
    -o-transition: all linear 0.4s;
    -ms-transition: all linear 0.4s;
}

.plan1 h3 {
    font-size: 18px;
    font-family: 'Railway', sans-serif;
    color: #353535;
    font-weight: 700;
    transition: all linear 0.4s;
    -webkit-transition: all linear 0.4s;
    -moz-transition: all linear 0.4s;
    -o-transition: all linear 0.4s;
    -ms-transition: all linear 0.4s;
}

.plan2 {
    height: 160px;
    width: 100%;
    background: #ffffff;
}

.plang {
    height: 18px;
    width: 100%;
    transition: all linear 0.4s;
    -webkit-transition: all linear 0.4s;
    -moz-transition: all linear 0.4s;
    -o-transition: all linear 0.4s;
    -ms-transition: all linear 0.4s;
}

.plan22 {
    height: 120px;
    width: 120px;
    border: 2px solid #f1f1f1;
    border-radius: 50%;
    margin-left: 70px;
    transition: all linear 0.4s;
    -webkit-transition: all linear 0.4s;
    -moz-transition: all linear 0.4s;
    -o-transition: all linear 0.4s;
    -ms-transition: all linear 0.4s;
}

.plan22 h4 {
    font-size: 15px;
    font-family: 'Railway', sans-serif;
    color: #555555;
    font-weight: 700;
    padding-top: 20px;
}

.plan22 h4 span {
    font-size: 47px;
    font-family: 'Railway', sans-serif;
    color: #353535;
    font-weight: 700;
}

.plan3 {
    height: 187px;
    width: 100%;
}

.plan3 h5 {
    padding-top: 35px;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    color: #555555;
    font-weight: 400;
    line-height: 25px;
}

.plan3 a {
    margin-top: 35px;
    height: 36px;
    width: 94px;
    font-size: 14px;
    border: 1px solid #353535;
    font-family: 'Railway', sans-serif;
    font-weight: 700;
    color: #353535;
    background-color: #ffffff;
    border-radius: 5px;
    line-height: 36px;
    transition: all linear 0.4s;
    -webkit-transition: all linear 0.4s;
    -moz-transition: all linear 0.4s;
    -o-transition: all linear 0.4s;
    -ms-transition: all linear 0.4s;
}

.plans:hover .plan3 a {
    border: 1px solid #744fa0;
    color: #ffffff;
    background-color: #744fa0;
}

.plans:hover .plan1 {
    background: #744fa0;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.plans:hover .plan1 h3 {
    color: #ffffff;
}

.plans:hover .plang {
    height: 8px;
}

.plans:hover .plan22 {
    height: 140px;
    width: 140px;
    border: 2px solid #f1f1f1;
    border-radius: 50%;
    margin-left: 60px;
}

/*Price Sec end*/
/*Team Sec start*/
.con_team {
    text-align: center;
}

.con_team i {
    margin-top: 8px;
    font-size: 18px;
    transform: rotate(315deg);
}

.con_team h2 {
    font-family: 'Railway', sans-serif;
    font-size: 23px;
    font-weight: 700;
    color: #353535;
    position: relative;
}

.con_team h2:after {
    position: absolute;
    content: '';
    height: 1px;
    width: 44px;
    background: #353535;
    left: 601px;
    top: 40px;
}

.con_team h2:before {
    position: absolute;
    content: '';
    height: 1px;
    width: 44px;
    background: #353535;
    left: 518px;
    top: 40px;
}

.con_team p {
    position: relative;
}

.con_team p:after {
    position: absolute;
    content: '';
    height: 1px;
    width: 49px;
    background: #353535;
    left: 601px;
    top: -8px;
}

.con_team p:before {
    position: absolute;
    content: '';
    height: 1px;
    width: 49px;
    background: #353535;
    left: 513px;
    top: -8px;
}

.member {
    height: 704px;
    width: 1170px;
}

.members {
    float: left;
    height: 543px;
    width: 370px;
    margin-right: 30px;
    margin-top: 146px;
    border-radius: 12px;
    box-sizing: border-box;
    transition: all linear 0.4s;
    -webkit-transition: all linear 0.4s;
    -moz-transition: all linear 0.4s;
    -o-transition: all linear 0.4s;
    -ms-transition: all linear 0.4s;
}

.members:last-child {
    margin-right: 0px;
}

.member1 {
    height: 370px;
    width: 100%;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    position: relative;
    transition: all linear .4s;
    -webkit-transition: all linear 0.4s;
    -moz-transition: all linear 0.4s;
    -o-transition: all linear 0.4s;
    -ms-transition: all linear 0.4s;
}

.member1 img {
    border-radius: 12px;
    width: 368px;
}

.member2 {
    height: 171px;
    width: 368px;
    background: #ffffff;
    border: 1px solid white;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    transition: all linear 0.4s;
    -webkit-transition: all linear 0.4s;
    -moz-transition: all linear 0.4s;
    -o-transition: all linear 0.4s;
    -ms-transition: all linear 0.4s;
    transform: translateY(-173px);
    z-index: -1;
}


.member2 h3 {
    font-size: 18px;
    font-family: 'Railway', sans-serif;
    color: #353535;
    font-weight: 700;
    padding-top: 22px;
}

.member2 h4 {
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    color: #353535;
    font-weight: 400;
    padding-top: 5px;
}

.member2 h5 {
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    color: #555555;
    font-weight: 400;
    padding-top: 12px;
}

.overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    transform: scale(0);
    transition: all linear 0.4s;
    -webkit-transition: all linear 0.4s;
    -moz-transition: all linear 0.4s;
    -o-transition: all linear 0.4s;
    -ms-transition: all linear 0.4s;
}

.overlay a i {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background: #f1f1f1;
    color: #353535;
    line-height: 50px;
    font-size: 24px;
    margin-top: 165px;
    margin-right: 7px;
    transition: all linear 0.4s;
    transform: rotate(0deg) !important;
    -webkit-transition: all linear 0.4s;
    -moz-transition: all linear 0.4s;
    -o-transition: all linear 0.4s;
    -ms-transition: all linear 0.4s;
}

.overlay a i:hover {
    height: 60px;
    width: 60px;
    line-height: 60px;
    border-radius: 50%;
    background: #744fa0;
    color: #ffffff;
    font-size: 29px;
    margin-right: 11px;
}

.members:hover .member2 {
    transform: translateY(-87px);
    border: 1px solid #f1f1f1;
}

.members:hover .member1 {
    transform: translateY(-86px);
}

.members:hover .overlay {
    transform: scale(1);
}

/*Team Sec End*/
/*feedback Sec start*/
.con_feedback {
    text-align: center;
}

.con_feedback i {
    margin-top: 8px;
    font-size: 18px;
    transform: rotate(315deg);
}

.con_feedback h2 {
    font-family: 'Railway', sans-serif;
    font-size: 23px;
    font-weight: 700;
    color: #353535;
    position: relative;
}

.con_feedback h2:after {
    position: absolute;
    content: '';
    height: 1px;
    width: 44px;
    background: #353535;
    left: 601px;
    top: 40px;
}

.con_feedback h2:before {
    position: absolute;
    content: '';
    height: 1px;
    width: 44px;
    background: #353535;
    left: 518px;
    top: 40px;
}

.con_feedback p {
    position: relative;
}

.con_feedback p:after {
    position: absolute;
    content: '';
    height: 1px;
    width: 49px;
    background: #353535;
    left: 601px;
    top: -8px;
}

.con_feedback p:before {
    position: absolute;
    content: '';
    height: 1px;
    width: 49px;
    background: #353535;
    left: 513px;
    top: -8px;
}

.feed {
    margin-top: 50px;
    height: 550px;
    width: 100%;
    background-image: url(../images/usercover.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    position: relative;
}

.userp img {
    padding-top: 70px;
    opacity: .7;
    height: 100px;
    width: 100px;
}

.userphoto .slick-current .userp img {
    opacity: 1;
    height: 150px;
    width: 150px;
    padding-top: 43px;
}

.userphoto .slick-current .userp {
    position: relative;
}

.userphoto .slick-current .userp:after {
    height: 150px;
    width: 150px;
    position: absolute;
    content: '';
    border-radius: 50%;
    border: 5px solid #744fa0;
    top: 38px;
    left: 105px;
}

.userp:first-child img {
    padding-left: 110px;
}

.feed ul.slick-dots {
    position: absolute;
    left: 46%;
    top: 208px;
}

.feed ul.slick-dots li {
    float: left;
}

.feed ul.slick-dots li button {
    font-size: 0;
    width: 7px;
    height: 7px;
    border: none;
    border-radius: 50%;
    background: transparent;
    margin: 10px;
    cursor: pointer;
    position: relative;
    float: left;
}

.feed ul.slick-dots li button:after {
    position: absolute;
    content: '';
    width: 14px;
    height: 14px;
    border-radius: 50%;
    left: -5px;
    top: -5px;
    border: 2px solid #ffffff;
}

.feed ul.slick-dots li.slick-active button {
    background: #744fa0;
}

.feed ul.slick-dots li.slick-active button:after {
    border: 2px solid #744fa0;
}
.userpanel{
    padding-top: 5px;
}
.useropinion {
    height: 218px;
    width: 800px !important;
    background: #f1f1f1;
    border-radius: 15px;
    margin-top: 60px !important;
    margin-left: 189px !important;
    text-align: center;
}

.userpanel {
    position: relative;
}

.userpanel:after {
    /*
    transform: rotate(45deg);
    height: 38px;
    width: 38px;
    background: #f1f1f1;
*/
    position: absolute;
    content: '';
    top: 276px;
    left: 48.5%;
    border-radius: 7px;
    border-top: 25px solid #f1f1f1;
    border-bottom: 25px solid transparent;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
}


.usero p {
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    color: #555555;
    font-weight: 400;
    margin-top: 35px;
    padding: 0 25px;
    padding-bottom: 20px;
}

.usero i {
    font-size: 14px;
    color: #744fa0;
    padding-left: 7px;
    padding-bottom: 8px;
}

.usero h3 {
    font-size: 18px;
    font-family: 'Railway', sans-serif;
    color: #353535;
    font-weight: 700;
    padding-bottom: 7px;
}

.usero h4 {
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    color: #353535;
    font-weight: 400;
}

/*feedback Sec End*/
/*Form Sec start*/
.form {
    padding: 80px 0px;
}

.con_form {
    text-align: center;
}

.con_form i {
    margin-top: 8px;
    font-size: 18px;
    transform: rotate(315deg);
}

.con_form h2 {
    font-family: 'Railway', sans-serif;
    font-size: 23px;
    font-weight: 700;
    color: #353535;
    position: relative;
}

.con_form h2:after {
    position: absolute;
    content: '';
    height: 1px;
    width: 44px;
    background: #353535;
    left: 601px;
    top: 40px;
}

.con_form h2:before {
    position: absolute;
    content: '';
    height: 1px;
    width: 44px;
    background: #353535;
    left: 518px;
    top: 40px;
}

.con_form p {
    position: relative;
}

.con_form p:after {
    position: absolute;
    content: '';
    height: 1px;
    width: 49px;
    background: #353535;
    left: 601px;
    top: -8px;
}

.con_form p:before {
    position: absolute;
    content: '';
    height: 1px;
    width: 49px;
    background: #353535;
    left: 513px;
    top: -8px;
}

.form_col {
    height: 700px;
    width: 100%;
    background-image: url(../images/background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.cont_d h1 {
    font-family: 'Lato', sans-serif;
    font-size: 41px;
    font-weight: 400;
    color: #ffffff;
    padding-top: 75px;
    padding-left: 439px;
}

.cont_d p {
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #999999;
    padding-top: 21px;
    padding-left: 451px;
}

.frm {
    padding-top: 50px;
}

input[type=text] {
    background-color: rgba(0, 0, 0, 0);
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #555555;
    width: 370px;
    padding: 25px 20px;
    height: 40px;
    border: 1px solid #353535;
    ;
    border-radius: 10px;
    box-sizing: border-box;
}

input[type=email] {
    margin: 0 26px;
    background-color: rgba(0, 0, 0, 0);
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #555555;
    width: 370px;
    padding: 25px 20px;
    height: 40px;
    border: 1px solid #353535;
    ;
    border-radius: 10px;
    box-sizing: border-box;
}

input[type=textarea] {
    background-color: rgba(0, 0, 0, 0);
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #555555;
    width: 1170px;
    padding-bottom: 124px;
    padding-left: 20px;
    height: 190px;
    border: 1px solid #353535;
    border-radius: 10px;
    box-sizing: border-box;
    margin: 25px 0px;
}

input[type=button] {
    width: 90px;
    height: 30px;
    font-family: 'Railway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #fefefe;
    border-radius: 5px;
    display: inline-block;
    background-color: #744fa0;
    text-align: center;
    cursor: pointer;
    padding-top: 5px;
    transition: all linear 0.4s;
    -webkit-transition: all linear 0.4s;
    -moz-transition: all linear 0.4s;
    -o-transition: all linear 0.4s;
    -ms-transition: all linear 0.4s;
}

input[type=button]:hover {
    color: #353535;
    background-color: #ffffff;
}

/*Form Sec end*/
/*Footer Sec Start*/
.footer {
    height: 260px;
    background: #353535;
    text-align: center;
}

.con_footer img {
    padding-top: 25px;
    height: 75px;
    width: 230px;
}

.con_footer a i {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background: #f1f1f1;
    color: #353535;
    line-height: 50px;
    font-size: 24px;
    margin-top: 20px;
    margin-right: 7px;
    transition: all linear 0.4s;
    -webkit-transition: all linear 0.4s;
    -moz-transition: all linear 0.4s;
    -o-transition: all linear 0.4s;
    -ms-transition: all linear 0.4s;
}

.con_footer a i:hover {
    background: #744fa0;
    color: #ffffff;
}

.con_footer p {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #f1f1f1;
    margin-top: 22px;
}

.con_footer p span a {
    color: #744fa0;
}

/*Footer Sec End*/